
@model Internship.Models.CreateViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Book</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Book.BookName" class="control-label"></label>
                <input asp-for="Book.BookName" class="form-control" />
                <span asp-validation-for="Book.BookName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Author.AuthorName" class="control-label"></label>

                <input asp-for="Author.AuthorName" class="form-control" />

             
                <span asp-validation-for="Author.AuthorName" class="text-danger"></span>

                @*<select asp-for="AuthorId" class="form-control" asp-items="ViewBag.AuthorId"></select>*@

            </div>
            <div class="form-group">
                <label asp-for="Book.GenreId" class="control-label"></label>
                <select asp-for="Book.GenreId" class="form-control" asp-items="ViewBag.GenreId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Book.Year" class="control-label"></label>
                <input asp-for="Book.Year" class="form-control" />
                <span asp-validation-for="Book.Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.DateOfPurchase" class="control-label"></label>
                <input asp-for="Book.DateOfPurchase" class="form-control" />
                <span asp-validation-for="Book.DateOfPurchase" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}